@import "~antd/dist/antd.css";

html,
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 12px;
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
