.muzi-record-footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
}

.muzi-record-form {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: #f2f2f2;
    &.show {
        height: auto;
        max-height: 80vh;
        overflow-y: auto;
    }
}